.box{
    margin-top: 20px;
}
.style{
    display: flex;
    margin-top: 2px;
}
fieldset{
    width: 450px;
    max-height: 20%;
    margin: auto;
    border: 1px solid paleturquoise;
}
*{
    text-align: center;
}
.user{
    background-color: #215f99;
    color: azure;
    padding: 10px 20px;
    margin-right: 25px;
    width: 100px;
    text-align: center;
    border: 1px solid #1E90FF;
}
.gender{
    display: flex;
    align-items: center;
}
.text{
    width: 300px;
    text-align: left;
    padding-left: 2px;
    border: 1px solid #66a6e6;
}
.submit{
    width: 100px;
    margin-top: 30px;
    height: 30px;
    background-color:#82cd79;
    border: 1px solid #1E90FF;
    border-radius: 5px;
    color: black;
}
.chooses{
    width: 300px;
    border: 1px solid #5d91c4;
}