*{
	box-sizing: border-box;
	vertical-align:center;
}
form{
	flex-direction: column;
    	padding: 70px 100px;
	margin: 15%;
	margin-left: 30%;
	align-items: center;
	position:relative;
	top:50%;
    	border:3px solid paleturquoise;
	width:650px;
	height:400px;
	display: flex;
}
#input{
	margin:10px 0px 10px 0px;
	width:200%;
	height:3rem;
}
#value{
	text-align:center;
	display:inline-block;
	border:3px solid #4d79ff;
	width:100px;
	height:40px;
	font-size:15px;
	font-weight:550;
	padding-top:8px;
	background-color:#1E90FF;
}
#gender{
    	margin:auto;
	font-size:18px;
	font-weight:550;
}
input,select{
	margin-left:20px;
    	width:20px;
	height:20px;
    	font-size:15px;
	border:3px solid #4d79ff;
}
input[type='text']{
	width:350px;
	height:40px;
}
select{
	width:350px;
	height:40px;
}
button{
	margin-top:25px;
	width:150px;
	height:50px;
	padding:10px;
	font-size:20px;
	font-weight:700;
	border:2px solid #ffffff;
	border-radius: 15px;
	background-color: #82cd79 ;
}
